<h1>Les piscines</h1>
<div class="container">
  <div class="wrapper">
    <div class="center-form">
    <%= form_tag pools_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a pool"
      %>
    <% end %>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @pools.each do |pool| %>
        <tr>
          <td><%= pool.title %></td>
          <td><%= pool.address %></td>
          <td><%= link_to 'Show', pool %></td>
          <td><%= link_to 'Edit', edit_pool_path(pool) %></td>
          <td><%= link_to 'Destroy', pool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Pool', new_pool_path %>
</div>
