<h1>Pages#Show</h1>

<h1> <%= @pool.title %> détails : </h1>

<%= @pool.address %>
<%= @pool.dimensions %>
<%= @pool.description %>
<p> <%= @pool.price %>€ </p>



<p>
  <strong>Name:</strong>
  <%= @pool.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @pool.user.First_Name%> <%=@pool.user.Last_Name%>
  <%= @pool.user.email %>
  <%= @pool.user.Phone_Number %>
</p>

<%= link_to 'Edit', edit_pool_path(@pool) %> |

<%= link_to 'Back', pools_path %>
