<h1>Pages#Show</h1>

<h1> <%= @pool.title %> détails : </h1>

<%= @pool.address %>
<%= @pool.dimensions %>
<%= @pool.description %>
<p> <%= @pool.price %>€ </p>



<p>
  <strong>Name:</strong>
  <%= @pool.title %>
</p>

<p>
  <strong>User:</strong>

  <%= @pool.user.first_name%> <%=@pool.user.last_name%>
  <%= @pool.user.email %>
  <%= @pool.user.phone_number %>
</p>


<!-- integration du booking dans la view show de pool -->
<div >
  <% if @pool.user != current_user %>
  <h1> Réserver la piscine : </h1>
  <%= simple_form_for [@pool, @booking] do |f| %>
  <%= f.input :date %>
  <%= f.submit class: "btn btn-medium" %>
  <% end %>
  <% end %>
</div>
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>



<%= link_to 'Edit', edit_pool_path(@pool) %> |

<%= link_to 'Back', pools_path %>
