<h1>Pages#Show</h1>

<h1> <%= @pool.title %> détails : </h1>

<%= @pool.address %>
<%= @pool.dimensions %>
<%= @pool.description %>
<p> <%= @pool.price %>€ </p>



<p>
  <strong>Name:</strong>
  <%= @pool.title %>
</p>

<p>
  <strong>User:</strong>
  <%= current_user.First_Name%> <%=current_user.Last_Name%>
  <%= current_user.email %>
  <%= current_user.Phone_Number %>
</p>


<!-- integration du booking dans la view show de pool -->
<div >
  <% if @pool.user != current_user %>
  <h1> Réserver la piscine : </h1>
  <%= simple_form_for [@pool, @booking] do |f| %>
  <%= f.input :date %>
  <%= f.submit class: "btn btn-medium" %>
  <% end %>
  <% end %>
</div>



<%= link_to 'Edit', edit_pool_path(@pool) %> |

<%= link_to 'Back', pools_path %>
