<h1><%=current_user.first_name%></h1>


<div class="container">
  <div
  <% @bookings.each do |booking| %>
    <div class="product">
        <div class='product-body'>
          <p><%= booking %></p>
          <p><%= booking.date %></p>
          <p><%=booking.pool_id %></p>
           <p><%=booking.user_id %></p>
    </div>
  </div>
    <% end %>
</div>
