<h1>Hello <%=current_user.first_name%></h1>

<% @my_reservations.each do |booking| %>
      <div class ="container">
        <div class="row">
          <div class="col-xs-12">
            <p>Your reservations as user</p>
          </div>
        <div class="row">
          <div class="col-xs-6">
            <p>Date: </p>
          </div>
          <div class="col-xs-6">
             <p><%= booking.date %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <p>Pool name: </p>
          </div>
          <div class="col-xs-6">
           <p><%=booking.pool.title%></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <p>Pool dimensions: </p>
          </div>
          <div class="col-xs-6">
            <p><%=booking.pool.dimensions%></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <p>Price: </p>
          </div>
          <div class="col-xs-6">
            <p><%=booking.pool.price%></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <p>Address: </p>
          </div>
          <div class="col-xs-6">
            <p><%=booking.pool.address%></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <p>The Owner: </p>
          </div>
          <div class="col-xs-6">
            <p><%=booking.pool.user.first_name+ " " + booking.pool.user.last_name%></p>
          </div>
        </div>
      </div>
  <% end %>

<% @my_reservations.each do |booking| %>
      <div class ="container">
        <div class="row">
          <div class="col-xs-12">
            <p>You reservation as owner </p>
          </div>
        <div class="row">
          <div class="col-xs-6">
            <p>Date: </p>
          </div>
          <div class="col-xs-6">
             <p><%= booking.date %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <p>Pool name: </p>
          </div>
          <div class="col-xs-6">
           <p><%=booking.pool.title%></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <p>Pool dimensions: </p>
          </div>
          <div class="col-xs-6">
            <p><%=booking.pool.dimensions%></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <p>Price: </p>
          </div>
          <div class="col-xs-6">
            <p><%=booking.pool.price%></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <p>Address: </p>
          </div>
          <div class="col-xs-6">
            <p><%=booking.pool.address%></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <p>Your Guest: </p>
          </div>
          <div class="col-xs-6">
            <p><%=booking.user.first_name + " " + booking.user.last_name %></p>
          </div>
        </div>
      </div>
  <% end %>

  <div class="btn btn-medium">
    <%= link_to 'Back', pools_path %>
  </div>
</div>



