<h1><%=current_user.first_name%></h1>


<div class="container">
  <% @my_reservations.each do |booking| %>
    <div class="product">
      <div class='product-body'>
        <p>Your reservations as user</p>
        <p>Date: </p>
        <p><%= booking.date %></p>
        <p>Pool name: </p>
        <p><%=booking.pool.title%></p>
        <p>Pool dimensions: </p>
        <p><%=booking.pool.dimensions%></p>
        <p>Price: </p>
        <p><%=booking.pool.price%></p>
        <p>Address: </p>
        <p><%=booking.pool.address%></p>
        <p>The Owner: </p>
        <p><%=booking.pool.user.first_name+ " " + booking.pool.user.last_name%></p>
      </div>
    </div>
  <% end %>

  <% @reservations.each do |booking| %>
    <div class="product">
      <div class='product-body'>
        <p>You reservation as owner </p>
        <p>Date:</p>
        <p><%= booking.date %></p>
        <p>Pool name:</p>
        <p><%=booking.pool.title%></p>
        <p>Pool dimensions:</p>
        <p><%=booking.pool.dimensions%></p>
        <p>Price:</p>
        <p><%=booking.pool.price%></p>
        <p>Address:</p>
        <p><%=booking.pool.address%></p>
        <p>Your Guest: </p>
        <p><%=booking.user.first_name + " " + booking.user.last_name %></p>
      </div>
    </div>
  <% end %>
  <div class="btn btn-medium">
    <%= link_to 'Back', pools_path %>
  </div>
</div>
